<div class="row">
  <div class="col-xs-12">
    <div class="pull-right close" data-toggle="offcanvas" data-target="#addSite">
      <i class="fa fa-times"></i>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 bootcards-list">
    <ul class="nav navmenu-nav list-group">
      <li class="provider list-group-item" ng-repeat="provider in ui.providers" ng-class="{'provider-reauth': !provider.auth}"><a ng-href="" ng-bind="provider.displayName(ui.providers)" provider-click></a>
        <div ng-if="provider.loadingSites" class="alert alert-warning" role="alert"><i class="fa fa-spinner fa-spin"></i> Waiting for sites to load...</div>
        <form ng-hide="!provider.showSites" class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="siteAvailableSearch">Site search</label>
            <input type="search" ng-model="siteAvailableSearch" class="form-control" id="siteAvailableSearch" placeholder="Type site name">
          </div>
        </form>
        <div class="bootcards-list">
          <ul class="list-group">
            <li ng-repeat="site in provider.sites | filter:siteAvailableSearch" class="site list-group-item">{{site.name}}</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
