<button type="button" class="close" data-toggle="offcanvas" data-target="#addSite" aria-label="Close">
  <span aria-hidden="true">×</span>
</button>
<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="siteAvailableSearch">Site search</label>
    <input type="search" ng-model="siteAvailableSearch" class="form-control" id="siteAvailableSearch" placeholder="Type site name">
  </div>
</form>
<ul class="nav navmenu-nav" ng-repeat="site in selectedProvider.availableSites | filter:siteAvailableSearch">
  <li class="site"><a ng-href="" ng-bind="site.name"></a></li>
</ul>
