<div class="site-wrapper col-xs-4" ng-class="{'overlay-active': site.busy}">
  <div class="site" ng-class="siteClasses()">
    <div id="overlay" ng-if="site.busy">
    {{site.status}}
    <br>{{site.progress}}
    </div>
    <svg ng-if="site.busy" version="1.1" id="loader" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="100px" height="100px" viewBox="0 0 120 120" xml:space="preserve">
    <g>
      <defs>
        <path id="c_path" d="M87.417,78.237c-0.209-0.245-0.432-0.471-0.666-0.685c-0.47-0.428-0.984-0.787-1.528-1.075
          c-2.65-1.406-6.001-1.141-8.42,0.926h-0.002l-0.002-0.001c-3.945,3.373-9.066,5.413-14.666,5.413
          c-12.474,0-22.586-10.111-22.586-22.585s10.112-22.585,22.586-22.585c5.586,0,10.697,2.03,14.64,5.391l0.004-0.003
          c0.009,0.009,0.018,0.017,0.026,0.024c2.419,2.067,5.77,2.332,8.42,0.926c0.544-0.289,1.057-0.647,1.528-1.075
          c0.232-0.212,0.457-0.439,0.666-0.685c2.696-3.155,2.329-7.895-0.815-10.599c-0.007-0.004-0.015-0.011-0.02-0.016
          c-0.009-0.008-0.02-0.015-0.028-0.024c-6.575-5.609-15.101-8.997-24.421-8.997c-20.789,0-37.643,16.854-37.643,37.643
          c0,20.788,16.854,37.642,37.643,37.642c9.318,0,17.846-3.386,24.419-8.993c0.011-0.011,0.021-0.019,0.032-0.029
          c0.005-0.005,0.011-0.01,0.018-0.016C89.746,86.131,90.112,81.393,87.417,78.237z"/>
      </defs>
      <clipPath id="c_shape">
        <use xlink:href="#c_path"  overflow="visible"/>
      </clipPath>
      <g clip-path="url(#c_shape)">
        <rect id="background" width="120" height="120"/>
      </g>
    </g>
    </svg>
    <h3 ng-if="site.currentActionName" ng-bind="site.currentActionName" class="site-action"></h3>
    <div class="row image">
      <a ng-href="" site-browser><img class="col-xs-12 img-responsive" alt="Snapshot of your site"  ng-src="{{site.image}}"/></a>
    </div>
    <div class="row">
      <div class="site-info col-xs-12">
        <h3 ng-bind="site.name" class="site-name" site-browser></h3>
        <div class="site-actions">
          <a ng-href="" site-toggle class="btn btn-default site-power" ng-class="{'site-up': ui.states[site.machineName]}"><i class="fa fa-power-off fa-2"></i><span ng-if="!ui.states[site.machineName]"> Start</span><span ng-if="ui.states[site.machineName]"> Stop</span></a>
          <div class="btn-group dropdown" uib-dropdown auto-close="outsideClick">
            <div class="btn btn-default site-actions-dropdown" uib-dropdown-toggle>
              <i class="fa fa-cog fa-2"></i>
              <span> Actions</span>
            </div>
            <ul uib-dropdown-menu>
              <li><a ng-href="" site-code><i class="fa fa-folder-o fa-2"></i> <span>Code</span></a></li>
              <li><a ng-href="" ng-hide="ui.meta.platform === 'win32'" site-terminal><i class="fa fa-terminal fa-2"></i> <span>Terminal</span></a></li>
              <li ng-if="ui.states[site.machineName]"><a ng-href="" site-connection><i class="fa fa-info-circle fa-2"></i> <span>Connection Info</span></a></li>
              <li ng-if="site.providerInfo.env"><a ng-href="" site-pull><i class="fa fa-cloud-download fa-2"></i> <span>Pull</span></a></li>
              <li ng-if="site.providerInfo.env"><a ng-href="" site-push><i class="fa fa-cloud-upload fa-2"></i> <span>Push</span></a></li>
              <li><a ng-href="" site-remove><i class="fa fa-trash-o fa-2"></i> <span>Delete</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
