<div class="modal-header">
  <h3 class="modal-title" ng-bind="'Push ' + site.name"></h3>
</div>
<div class="modal-body">
  <div class="alert alert-error" ng-bind="errorMessage" ng-if="errorMessage"></div>
  <form>
    <div class="form-group">
      <label for="sitePushMessage">Commit message</label>
      <input type="text" class="form-control" id="sitePushMessage" placeholder="Message" ng-model="message" required>
    </div>
    <div class="form-group">
      <label for="pushDatabase">Push database?</label>
      <select class="form-control" id="pushDatabase" placeholder="Database" ng-model="database" required>
        <option label="validator" hidden></option>
        <option value="true">YES</option>
        <option value="false">NO</option>
      </select>
    </div>
    <div class="form-group">
      <label for="pushFiles">Push files?</label>
      <select class="form-control" id="pushFiles" placeholder="Files" ng-model="files" required>
        <option label="validator" hidden></option>
        <option value="true">YES</option>
        <option value="false">NO</option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok(message, database, files)">Submit</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
