<div class="modal-header">
  <h3 class="modal-title" ng-bind="'Pull ' + site.name"></h3>
</div>
<div class="modal-body">
  <div class="alert alert-error" ng-bind="errorMessage" ng-if="errorMessage"></div>
  <form>
    <div class="form-group">
      <label for="pullDatabase">Database</label>
      <select class="form-control" id="pullDatabase" placeholder="Database" ng-model="database" required>
        <option label="-- Pull Database? --" hidden></option>
        <option ng-repeat="env in environments" value="{{env}}">{{env}}</option>
        <option value="true">YES</option>
        <option value="false">NO</option>
      </select>
    </div>
    <div class="form-group">
      <label for="pullFiles">Files</label>
      <select class="form-control" id="pullFiles" placeholder="Files" ng-model="files" required>
        <option label="-- Pull Files? --" hidden></option>
        <option ng-repeat="env in environments" value="{{env}}">{{env}}</option>
        <option value="true">YES</option>
        <option value="false">NO</option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok(database, createBackup, files)">Submit</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
