<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-right close" data-toggle="offcanvas" data-target="#addSite">
        <i class="fa fa-times"></i>
      </div>
    </div>
  </div>
  <div class="row" ui-view>
    <h4>Add Account</h4>
    <ul class="nav navmenu-nav">
      <li class="provider integration" ng-repeat="provider in ui.providers | filter : { username : '!' }" ng-controller="ProviderCtrl" ng-class="providerClasses(provider)">
        <a ng-href="" ng-bind="provider.displayName" provider-click></a>
        <i ng-class="provider.name"></i>
      </li>
    </ul>
    <h4>Existing Accounts</h4>
    <ul class="nav navmenu-nav">
      <li class="provider" ng-repeat="provider in ui.providers | filter : { username : '!!' }" ng-class="providerClasses(provider)" ng-controller="ProviderCtrl">
        <a ng-href="" ng-bind="provider.displayName" provider-click></a>
        <i ng-class="provider.name"></i>
        <div ng-if="provider.refreshing" class="alert alert-warning" role="alert">
          <i class="fa fa-spinner fa-spin"></i> Waiting for sites to load...
        </div>
        <form ng-hide="!provider.sites.length" class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="siteAvailableSearch">Site search</label>
            <input type="search" ng-model="siteAvailableSearch.name" class="form-control" id="siteAvailableSearch" placeholder="Type site name">
          </div>
        </form>
        <ul class="sites">
          <li ng-repeat="site in provider.sites | filter:siteAvailableSearch" class="site" site-add>{{site.name}}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
