.header {
  margin-top: 10px;
}

.site {
  padding: 20px;
  img {
    max-height: 100px;
  }
  .site-info {
    h3 {
      margin-top: 0px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  .site-actions {
    a.site-up {
    }
  }
  }
}
