
.header {
  margin-top: 10px;
  img {
    width: 50px;
    margin-top: -6px;
  }
}

.site-wrapper {
  margin: 10px 0px;
}
.site {
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(43,59,93,.29);
  .btn {
    font-size: 11px;
  }
  .image {
    height: 200px;
    overflow: hidden;
  }
  .site-info {
    h3 {
      margin: 20px 0 10px;
      font-size: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
  .site-actions {
    margin: 10px;
    .fa-2 {
      font-size: 1.5em;
    }
    a.site-power, div.site-actions-dropdown {
      text-align: left;
      width: 40px;
      transition: width .2s ease;
      text-transform: uppercase;
      overflow: hidden;
    }
    a.site-power:hover, div.site-actions-dropdown:hover {
      width: 80px;
      span {
        display: inline;
      }
    }
    a.site-power span, div.site-actions-dropdown span {
      transition: display .2s ease;
      display: none;
    }
    a.site-power:hover {
      background-color: $btn-primary-bg;
      border-color: $btn-primary-bg;
      color: $btn-primary-color;
    }
    div.site-actions-dropdown:hover {
      width: 90px;
      background-color: $btn-info-bg;
      border-color: $btn-info-bg;
      color: $btn-info-color;
    }
    a.site-up {
      color: $brand-success;
      i {
        color: $brand-success;
      }
    }
    .dropdown-menu li a{
      color: $gray-light;
    }
    li span {
      position: absolute;
      left: 55px;
    }
    .dropdown-menu li:hover span {
      color: $text-color;
    }
    .dropdown-menu li a:hover {
      background-color: $body-bg;
      cursor: pointer;
    }

  }
  }
}

#addSite {
  .close {
    margin: 5px;
  }
  .provider, .site {
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-left: 0px;
    border-right: 0px;
  }
  .site {
    padding: 10px 20px;
  }
  li.site:first-child {
    border-top: none;
  }

  form input {
    margin-left: 5px;
  }
}


/* LISTS */

.list-group label {
  font-weight: normal;
}

/* List Search */

.bootcards-list .panel-body > form,
.bootcards-list .panel-body > .search-form {
  > .row > div:first-child {
    padding-right: 0;
  }
}

a.list-group-item.active:before {
  color: #e1edf7;
}

.list-group-item {
  padding-left: 0;

  .list-group-item-text {
    line-height: 18px;
    margin-bottom: 5px;
    overflow: hidden;
  }

  .list-group-item-heading:last-child,
  .list-group-item-text:last-child {
    margin-bottom: 0;
  }

  .row div > .list-group-item-heading:last-child,
  .row div > .list-group-item-text:last-child {
    margin-bottom: 5px;
  }

  .row div:last-child > .list-group-item-heading:last-child,
  .row div:last-child > .list-group-item-text:last-child {
    margin-bottom: 0;
  }

  img {
    height: 40px;
    width: 40px;
    margin-right: 15px;
  }

  i {
    opacity: 0.3;
    width: 40px;
    text-align: center;
    margin-right: 15px;
  }
}

a.list-group-item {
  cursor: pointer;

  &:hover,
  &:active,
  &.active,
  &.active:hover,
  &.active:focus {
    margin-left: 0;
    padding-left: 15px;
  }
}



.panel > .list-group .list-group-item:last-child {
  border-bottom: 0;
}


/* List Images */

.bootcards-list-group-item-content {
  overflow: hidden;
}


/* Disclosure Indicators */

a.list-group-item:before {
  font-family: 'FontAwesome';
  content: '';
  position: absolute;
  right: 15px;
  top: 50%;
  font-size: 14px;
  line-height: 14px;
  margin-top: -7px;
  color: #ccc;
}

.list-group.bootcards-no-indicators a.list-group-item:before {
  display: none;
}




