.header {
  margin-top: 10px;
  img {
    margin-top: -6px;
  }
}

img.logo { width: 50px; }

.dev-mode {
  font-weight: 800;
  font-size: 30px;
}

#overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: skyblue;
  z-index: 100;
  text-align: center;
  h1, h2 {
    z-index: 110;
    display: inline-block;
    width: 450px;
    margin-top: 100px;
  }
  h1 {
    font-weight: 500;
    font-size: $font-size-h2;
    color: #4295D1;
    margin-top: 100px;
  }
  h2 {
    font-size: $font-size-h3;
    font-weight: 200;
    line-height: $headings-line-height + .7;
    transition: opacity .25s ease-in-out;
    margin: 10px 0px;
    color: $gray-light;
  }
  #loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
  }
}
