/* Copyright 2013 Kalamuna LLC */
//@import "_customVariables.scss";
@import "../lib/vendor/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../lib/vendor/jasny-bootstrap/scss/jasny-bootstrap.scss";
@import "initialize.scss";
@import "dashboard.scss";
@import "site.scss";
@import "notifications.scss";
@import "start.scss";

.btn {
  border: 1px solid #dfe2e6;
  border-radius: 3px;
}

a.btn-help {
  text-decoration: none;
}

.icon-question-sign.icon-3 {
  font-size: 30px;
  vertical-align: bottom;
}

.centered {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

textarea {
  resize: none;
}

div.service-links.equidistant-row {
  max-width: 200px;
  margin: 0 auto;
}

.equidistant-row {
  text-align: justify;
}

.equidistant-row .btn {
  display: inline-block;
}

.equidistant-row:after {
  content: '';
  width: 100%;
  display: inline-block;
}

img.kalalogo {
  width: 250px;
  height: 250px;
  margin-top: 10px;
}

a:hover > i {
  text-decoration: none;
}


/* Start Screen */

.kalatron {
  margin: 40px 0;
  text-align: center;
}

.kalatron h1 {
  font-size: 72px;
  line-height: 1;
}

.kalatron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.kalatron .lead {
  font-size: 21px;
}

/* Kala Colors */

.kalagreen {
  color: #afd357;
}

.kalablue {
  color: #74b2e5;
}

.kalared {
  color: #ed6f90;
}

.kalapurple {
  color: #8a64a8;
}

.kalaorange {
  color: #faac48;
}

.kalayellow {
  color: #ffed90;
}

.icon-massive {
  font-size: 280px;
}

.icon-site-size {
  font-size: 150px;
  text-align: center;
}

.icon-kalabox {
  width: 280px;
  height: 280px;
  background-image: url('../images/kalabox-logo.svg');
  background-size: 280px 280px;
  background-repeat: no-repeat;
  display: block;
  margin: auto;
}

.kalawrap {
  padding-left: 20px;
  padding-right: 20px;
}

/* Spinners */

.spinner-box {
  width: 100px;
  height: 100px;
  background-color: #afd357;
  margin: 75px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px)
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg)
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
  }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


/* Install */

.install #icoco {
  height: 250px;
}

.install .lead {
  font-size: 30px;
}

.chart {
  background: #eee;
  padding: 3px;
}

.chart div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 5px;
  color: white;
  box-shadow: 2px 2px 2px #666;
}
