<div class="container install">
  <div class="row">
    <div class="col-xs-12">
      <h1>Installing</h1>
      <h2 ng-controller="RandomMessageCtrl" class="random-message" ng-bind="ui.randomMessage"></h2>
    </div>
  </div>
  <p class="detail" ng-bind="ui.title"></p>
</div>

<div class="clouds">
  <div class="theSun"></div>
  <i id="cloud-light" class="cloud"></i>
  <i id="cloud-white" class="cloud"></i>
  <i id="cloud-gray" class="cloud"></i>
  <i id="cloud-dark" class="cloud"></i>
  <i id="cloud-front" class="cloud"></i>
</div>
