<div class="container start">
  <div class="top row">
    <div class="col-xs-4 logo">
      <img src="images/kalabox-blue.svg" alt="Really good looking logo of Kalabox" />
    </div>
    <div class="col-xs-8 lead speech-bubble" id="info">
      <h1>Oh Hello.</h1>
      <p>A pleasure to meet your acquaintance,
      I'm Kalabox. You and I, we can go far together, concocting elixers of
      Deep Dark Digital Magic.
      However, I wouldn't dare brew any stew without your express consent as my
      favorite virtual user.
      Ergo, click below and let's make this baby go!*</p>
      <a class="btn btn-large btn-success btn-massive" start-install>Box me</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <p>
      <small>* To be 100% explicit if you click the button you agree to abide by
        the Terms of Use in TERMS.md and to allow the installation
        of <a target="_blank" href="https://www.virtualbox.org/">VirtualBox</a>
        and <a target="_blank" href="http://www.docker.com/">Docker</a>
        <a href="dash">.</a>
      </small>
    </p>
  </div>
</div>
